<template>
    <div></div>
</template>
<script>
$(function () {
      var Highcharts = require('highcharts');

      if(typeof visitschart_data == "undefined") return;

      var categories = [];

        Highcharts.chart('chart', {
                        title: {
                            text: '',
                            x: -20 //center
                        },
                        colors: ['#FF4600'],
                        xAxis: {
                            categories: visitschart_categories,
                            lineColor: '#000000',
                            labels: {
                                enabled: false
                            }
                        },
                        yAxis: {
                            title: {
                                text: ''
                            },
                            gridLineWidth: 0,
                            lineWidth: 2,
                            lineColor: '#000000'
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        series: [{
                                name: "Visits",
                                data: visitschart_data
                            }],
                        credits: {
                            enabled: false
                        }
                    });
});

</script>
