<template>
    <div></div>
</template>
<script>
$(function () {


            if(typeof countryTable_data == "undefined") return;

                jQuery.each( countryTable_data, function( i, val ) {
                    $('#countryTable > tbody:last').append('<tr>\n\
                                                        <td>'+val[0]+'</td>\n\
                                                        <td>'+val[1]+'</td>\n\\n\
                                                        <td>'+val[2]+'</td>\n\\n\
                                                        <td>'+Math.round(val[3]*100)/100+'</td>\n\\n\
                                                        <td>'+Math.round(val[4]*100)/100+'</td>\n\
                                                        </tr>');
                });
});
</script>
