<template>
      <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
      <span></span> <b class="caret"></b>
      </div>
</template>
<script>
      $(function() {
          var moment = require('moment');
          var daterangepicker = require('daterangepicker');

          if(typeof from == "undefined") return;

          var start = moment(from);
          var end = moment(to);

          function cb(start, end) {
              $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          }

          $('#reportrange').daterangepicker({
              startDate: start,
              endDate: end,
              ranges: {
                 'Today': [moment(), moment()],
                 'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                 'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                 'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                 'This Month': [moment().startOf('month'), moment().endOf('month')],
                 'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              }
          }, cb);

          cb(start, end);

          $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                var lieu = $(location).attr('href');
                var lieu_array = lieu.split("/");
                lieu_array[6] = picker.startDate.format('YYYY-MM-DD');
                lieu_array[7] = picker.endDate.format('YYYY-MM-DD');
                lieu = lieu_array.join("/");
                $(location).attr("href", lieu);
          });

      });



</script>
