<template>
        <div class="dropzone" style="width:190px;height:218px">
                                 <div class="dz-filename"><span data-dz-name></span></div>
                      			<div class="dz-default dz-message"><span>Drop files here to upload <br/><span class="pname"></span></span></div>
        </div>
</template>
<script>
    export default {
        mounted() {

            var Dropzone = require("dropzone");

            Dropzone.autoDiscover = false;

            var psize = this.psize;
            var purl = this.purl;


            $("div#" + this.$el.id).dropzone(
            						{ 
            						  acceptedFiles: "image/*",
            						  addRemoveLinks : true,
            						  maxFiles: 1,
            						  url: "/file/post/" + this.pcampaign + "/" + this.pname,
            						  init: function () {

                                            if(purl == "") return;

            						  		var mockFile = { name: "Filename", size: psize };
											this.emit("addedfile", mockFile);
											this.emit("thumbnail", mockFile, purl);
											this.emit("complete", mockFile);
											this.options.maxFiles = this.options.maxFiles - 1;
            						  },
                                      removedfile: function(file) {  
                                            this.removeAllFiles( true );
                                            this.options.maxFiles = this.options.maxFiles + 1;
                                      }
            						}
            						);

            $("div#" + this.$el.id + " .pname").html("<b>[" + this.pname + "]</b>");

            $("div#" + this.$el.id + " .dz-filename > span").html("<b>[" + this.pname + "]</b>");





        },
        props: {
		    pname: {
		      type: String,
		      required: true
		    },
		    pcampaign: {
		      type: String,
		      required: true
		    },
            purl: {
              type: String,
              required: true
            },
            psize: {
              type: String,
              required: true
            }
		},

    }
</script>
