<template>
      <div class="c100 center orange">
          <span></span>
          <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
          </div>
      </div>
</template>
<script>
$(function () {

      var perc = $("#desktopMobile").attr("percentage");

      $("#desktopMobile").addClass("p"+perc);

      $("#desktopMobile > span").html(perc+"%");

});

</script>
