<template>
    <div></div>
</template>
<script>
$(function () {
      var Highcharts = require('highcharts/highmaps');

      if(typeof country_data == "undefined") return;

      Highcharts.mapChart('geolocation', {
                title: {
                    text: 'Visits by country'
                },
                mapNavigation: {
                    enabled: false,
                },
                colorAxis: {
                    min: 1,
                    max: 1000,
                  //  type: 'logarithmic'
                },
                series: [{
                        data: country_data,
                        mapData: Highcharts.maps['custom/world'],
                        joinBy: ['iso-a2', 'code'],
                        name: 'Visits',
                        states: {
                            hover: {
                                color: '#FF4600'
                            }
                        }
                    }],
                    credits: {
                        enabled: false
                    }
            });
});

</script>
