<template>
    <div id="editor_holder" style="width: 400px; height: 400px;">jbhbj</div>
</template>
<script>

      var element = document.getElementById('editor_holder');

      require('JSONEditor');

       var editor = new JSONEditor({
        schema: {
          type: "object",
          title: "Car",
          properties: {
            make: {
              type: "string",
              enum: [
                "Toyota",
                "BMW",
                "Honda",
                "Ford",
                "Chevy",
                "VW"
              ]
            },
            model: {
              type: "string"
            },
            year: {
              type: "integer",
              enum: [
                1995,1996,1997,1998,1999,
                2000,2001,2002,2003,2004,
                2005,2006,2007,2008,2009,
                2010,2011,2012,2013,2014
              ],
              default: 2008
            }
          }
        }
      });
      
    
</script>
