<template>
    <div></div>
</template>
<script>
$(function () {
      var Highcharts = require('highcharts');

      if(typeof newdata == "undefined") return;

      var newdata = $("#pie").attr("new");
      var returndata = $("#pie").attr("return");

      newdata = parseInt(newdata);
      returndata = parseInt(returndata);


      Highcharts.chart('pie', {
                        chart: {
                            type: 'pie',
                            backgroundColor: 'rgba(255, 255, 255, 0)',
                            style: {color: '#fff'}
                        },
                        colors: ['#FF4600', '#ffffff'],
                        title: {
                            text: 'VISITS',
                            style: {
                                color: '#fff'
                            }
                        },
                        series: [{
                                type: 'pie',
                                name: 'Amount',
                                innerSize: '60%',
                                data: [
                                    ['NEW', newdata],
                                    ['RETURNING', returndata],
                                ]
                            }],
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    style: {
                                        color: '#fff'
                                    }
                                }
                            }
                        },
                        credits: {
                            enabled: false
                        }
                    });
});

</script>
