<template>
    <div></div>
</template>
<script>
$(function () {
      var Highcharts = require('highcharts');

      if(typeof Browsers_data == "undefined") return;

      var newdata = $("#pie").attr("new");
      var returndata = $("#pie").attr("return");

      newdata = parseInt(newdata);
      returndata = parseInt(returndata);


      Highcharts.chart('pieBrowser', {
                              chart: {
                                  type: 'pie',
                                  backgroundColor: 'rgba(255, 255, 255, 0)',
                                  style: {
                                      color: '#fff'
                                  }
                              },
                              colors: ['#fb644b', '#FF4600', '#858585', '#707070', '#5c5c5e', '#333333'],
                              title: {
                                  text: 'TECHNOLOGY',
                                  style: {color: '#fff'}
                              },
                              subtitle: {
                                  text: 'BROWSERS',
                                  style: {color: '#fff'}
                              },
                              plotOptions: {
                                  pie: {
                                      shadow: false,
                                      center: ['50%', '50%'],
                                      dataLabels: {
                                          enabled: true,
                                          style: {
                                              color: '#fff'
                                          }
                                      }
                                  }
                              },
                              legend: {
                                  layout: 'vertical',
                                  style: {
                                      left: 'auto',
                                      bottom: 'auto',
                                      right: '50px',
                                      top: '100px',
                                      color: '#fff'
                                  }
                              },
                              series: [{
                                      type: 'pie',
                                      name: 'Amount',
                                      innerSize: '70%',
                                      data: Browsers_data
                                  }]

                          });
});

</script>
