<template>
    <div></div>
</template>
<script>
$(function () {

                var view = click = 0;

                if(typeof TagsTable_data == "undefined") return;

                $.each( TagsTable_data, function( i, val ) {
                     $('#TagsTable > tbody:last').append('<tr>\n\
                                                          <td>' + val['title'] + '</td>\n\
                                                          <td>' + val['view'] + '</td>\n\
                                                          <td>' + val['click'] + '</td>\n\
                                                          <td>' + Math.round((val['click']/val['view'])*100) + '%</td>\n\
                                                          </tr>');

                                  view += parseInt(val['view']);
                                  click += parseInt(val['click']);
                });

                $('#TagsTable > tbody:last').append('<tr class=\'trtotal\'>\n\
                                                     <td></td>\n\
                                                     <td>' + view + '</td>\n\
                                                     <td>' + click + '</td>\n\
                                                     <td>' + Math.round((click/view)*100) + '%</td>\n\
                                                     </tr>');

                var ctrate = 0;
                if(click > 0 || view > 0) {
                      	ctrate = Math.round((click/view)*100);
                }

                $("#CTRate").addClass("p"+ctrate);
                $("#CTRate > span").html(ctrate+"%");

});
</script>
