
body {
	background-image: url('../../Camilla/images/page_bg.jpg') ;

}

.frame {
	@media (min-width: 768px) {
		background-image: url('../../Camilla/images/PlayerBackground.jpg') ;
	}
}

.playerExitOverlay {
	background-image: url('../../Camilla/images/exit_overlay.jpg') ;
}