
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/dropzone/dist/basic";
@import "node_modules/dropzone/dist/dropzone";

@import "./treema.css";

// Menu
.navdash {
  border-top: 5px solid !important;
  border-color: rgb(255,70,0) !important;
  background-color: rgb(204, 204, 204) !important;
}

ul.navbar-nav > li > a { color: #FFF !important; }

//Dashboard
.languette {
    color: rgb(255,255,255);
    padding: 20px;
}

.hbadge {
    float:right;
    color:#FF4600;
}

.grey1 {  background-color:rgb(112,112,112);  }
.grey2 {  background-color:rgb(102,102,102);  }
.grey3 {  background-color:rgb(92,92,92);  }
.grey4 {  background-color:rgb(82,82,82);  }
.grey5 {  background-color:rgb(72,72,72);  }
